* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: black;
}
#container {
    display: grid;
    grid-template-columns: 300px 1200px;
    grid-template-areas: 
    "sidebar header"
    "sidebar cont"
    "sidebar cont"
    "sidebar cont"
    "sidebar cont";
}

#header {
    background-color: white;
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-area: header;
    padding: 1rem;
    border-bottom: 2px solid #8080806b;
}
#searchArea {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
   
    
}

#userArea {
    display:grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "bigCat greet"
    "bigCat uHand" ;

}

.greeting {
    grid-area: greet;
    font-size: 14px;
    font-weight: bold;
}

.userHandle {
    grid-area: uHand;
    font-size: 18px;
    font-weight: bold;
}
#bigCat {
   height: 60px;
   width: 60px;
   border-radius: 50%;
   grid-area: bigCat;
}

#lilCat {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    grid-area: lilCat;
}

#logoCat {
    height: 70px;
    width: 70px;
    border-radius: 25%;
    align-self: center;
}

#search {
    border-radius: 10px;
    width: 60%;
    height: 25px;
    background-color: rgb(226 232 240);

}

#notifArea {
    padding: 1rem;
    display: flex;
    gap: 3rem;
    justify-content: flex-end;
    align-items: center;
}

#name {
    font-weight: bold;
    font-size: 18px;
}


#userButtonArea {
    display: flex;
    justify-content: space-evenly;
}



button {
    width: 120px;
    height: 35px;
    border-radius: 15px;
    border: none;
    background-color: rgb(25 146 212);
    color: white;
    font-weight: bold;
    font-size: 16px;
}







#sidebar {
    background-color:rgb(25 146 212);
    padding: 1rem;
    display: grid;
    grid-template-columns: 75px 225px;
    gap: 1rem;
    color: whitesmoke;
    grid-area: sidebar;
    font-size: 20px;
    font-weight: bold;
}

#sidebar span {
    justify-self: flex-end;
}

.dashboard {
    font-size: 25px;
    align-self: center;
}



#content {
    background-color: rgb(226 232 240);
    grid-area: cont;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 1rem;
}

.contHead {
    font-size: 20px;
    font-weight: bold;
}

#cardCont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 1rem;
}

.card {
    background-color: white;
    border-left: 10px solid #ffb01fd1;
    padding: 2rem;
    border-radius: 8px;
}

.prjHead {
    font-size: 16px;
    font-weight: bold;
}

.prjButtons {
    display: flex;
    justify-content:flex-end;

    
}

.prjButtons > span {
    padding: .75rem;
   
}

#otherContent {
    padding: 15px;
}

#announce {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
}

#announce :last-child {
    border-bottom: none;
}
.announcement {
    border-bottom: .5px solid grey;
}

.annHead {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 1rem;
}

.annText, .prjText, .trendTitle {
    color: rgb(63, 62, 62);
}

#trending {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    height: 250px;

    
}

.trendPerson {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
    grid-template-areas: 
    "lilCat tName";
    
}

.trendName {
    grid-area: tName;
    display: grid;
    padding: .35rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "tHandle"
    "tTitle";

}

.trendTitle {
    grid-area: tTitle;
    font-size: 13px;
    
}

.trendHandle {
    grid-area: tHandle;
    font-weight: bold;
    font-size: 16px;
    
}

.trendPerson > img {
    align-self: center;
}
